

.picture{
    height: 160px;
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
img{
    height: 150px;
    width: 150px;
    border: 1px solid skyblue;
    border-radius: 50%;
}
.degisnation{
    
    border: 1px solid rgb(23, 77, 196);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    height: 130px;
    align-items: center;
}
.name{
    border: 2px solid rgb(5, 145, 40);
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.name h2{
    background-color: aquamarine;
    padding: 10px;
}
.occupation{
    border: 2px solid rgb(5, 145, 40);
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.about{
    height: 140px;
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}